:root, [data-bs-theme=light] {
  --bs-dark: rgba(33,37,41,0);
  --bs-dark-rgb: 33,37,41,0;
  --bs-dark-text-emphasis: #000000;
  --bs-dark-bg-subtle: #FFFFFF;
  --bs-dark-border-subtle: #FFFFFF;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgba(33,37,41,0);
  --bs-btn-border-color: rgba(33,37,41,0);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000000;
  --bs-btn-hover-border-color: #000000;
  --bs-btn-focus-shadow-rgb: 255,255,255;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000000;
  --bs-btn-active-border-color: #000000;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgba(33,37,41,0);
  --bs-btn-disabled-border-color: rgba(33,37,41,0);
}

.btn-outline-dark {
  --bs-btn-color: rgba(33,37,41,0);
  --bs-btn-border-color: rgba(33,37,41,0);
  --bs-btn-focus-shadow-rgb: 33,37,41,0;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgba(33,37,41,0);
  --bs-btn-hover-border-color: rgba(33,37,41,0);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgba(33,37,41,0);
  --bs-btn-active-border-color: rgba(33,37,41,0);
  --bs-btn-disabled-color: rgba(33,37,41,0);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgba(33,37,41,0);
}

[data-bs-theme=dark] {
  --bs-body-bg: #212529;
  --bs-body-bg-rgb: 33,37,41;
}

